<!DOCTYPE html>
<html>
<head>

  <title>Business As Usual</title>
  <%= favicon_link_tag 'earth.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= yield %>

</body>
</html>
